.shop-header{
    background-color: #09302e;

}
.shop-name-detail,.shop-city-detail,.shop-special-detail{
    color: #fff;
}
.shop-name-detail{
    font-size: 3.2rem;
    border-bottom: 0.2rem solid var(--color-nine);
    margin-bottom: 1.6rem;
}
.shop-city-detail,.shop-special-detail{
    font-size: 1.6rem;
    color: #e7e7e7;
}
.shop-special-detail{
    font-size: 1.6rem;
    line-height: 1.5;
}
.shop-details{
    grid-column: 2/4;
}
.star-detail{
    font-size: 2.4rem;
    color: #fff;
}
.rating-detail-value,.review-detail-value,.minOrder-detail-value{
    font-size: 1.4rem;
    color: #f7f7f7;
}
.shop-offer-detail{
    /* background-image: linear-gradient(to left bottom, var(--color-one), var(--color-nine)); */
    background-image: linear-gradient(to left, #56ab2f , #a8e063); 
    border-radius: 1rem;
    width: 100%;
}
.offer-shop-label{
    font-size: 2.4rem;
    color: #fff;
}
.offer-icon{
    font-size: 1.6rem;
    color: #ffff;
}
.offer-detail-value{
    font-size: 1.6rem;
    color: #fff;
}
.shop-img--update{
    clip-path: none;
    border-radius: 0.5rem;
    transition: all 0.3s;
}
.shop-img--update:hover{
    transform: scale(1.3);
}
.image-product-effect,.shop-image{
    overflow: hidden;
    border-radius: 1rem;
}
/**************************************menu showing*********************/
.shop-menu-list {
    grid-column: 1/3;
    height: 100%;
    /* background-color: #a8e063; */
    /* margin: 1.6rem; */
    background-color: #a8e06385;

}
.shop-menu-content {
    grid-column: 3/6;
    /* margin: 1.6rem 0; */
    padding: 1.6rem;

}
.shop-checklist{
    grid-column: 6/8;
}
.menu-heading{
    font-size: 2.4rem;
    color: #000;
}
.menu-subheading{
    font-size: 1.4rem;
    color: #333;
}
.product-name{
    font-size: 1.4rem;
    line-height: 1.3;
    text-align: center;
}
.product-price{
    font-size: 1.6rem;

}
.product-description{
    grid-column: 1/3;
    text-align: center;
    line-height: 1.5;
    font-size: 1.2rem;
}
.product-shop-name{
    grid-column: 1/3;
}
.products-detail{
    align-items: center;
    justify-items: center;
}
.addtoCardProductBtn,.addtoWishListProductBtn{
    border: none;
    padding: 0.5rem 1rem;
    background-color: var(--color-one);
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
}
.addtoCardProductBtn{
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
}
.menu-card{
    background-color: #f7f7f7;
    padding: 0.8rem;
}

/*************************.famous-product****************************/
.famous-product{
    background-image: linear-gradient(to left, #56ab2f , #a8e063); 
    border-radius: 1rem;
    color: #fff;
    margin:0 3.2rem;
}
/****************cart-one****************/
.cart-one{
    /* background-color: var(--color-one); */
    background-image: linear-gradient(to left, var(--color-one), var(--color-nine)) ;
    color: var(--color-two);
    border-radius: 0 1rem 1rem 0;
    border-left: 0.5rem solid var(--color-one);
}

.shopping-cart{
    background-color: #f7f7f7;
}
.cart-product-name{
    font-size: 2.4rem;
    color: #000;
}
.cart-product-price{
    font-size: 1.8rem;
    color: #000;
}
.quantity-product{
    font-size: 1.2rem;
}
.delete-product{
    border: none;
    background: none;
    font-size: 2.4rem;
    cursor: pointer;
    color: #fff;
}
.add-btn,.sub-btn{
    border: none;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 50%;
}
.display-quantity{
    font-size: 1.6rem;
}
.select--update{
    padding: 0.5rem;
}